<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badminton Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
      .img1{
        display: inline-block;
        position: absolute;
        right:900px;
      }
      .img2{
        display: inline-block;
        position: absolute;
        right: 500px;
      }
      body{
        background-color:#FFD4D4;
      }
      .dummy{
        margin-top: 130px;
      }
      input[type=submit]{
        background-color: black;
        border-radius: 4px;
        border: none;
      }
    </style>
</head>
<body>
    <!-- <h1>Products Available</h1>
    <br> -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">Products Available</a>
      <ul class="navbar-nav ms-auto">
          <!-- <li class="nav-item">
              <a href="#footer" class="nav-link">Products</a>
          </li>  -->
          <li class="nav-item">
              <a href="{{url_for('RenderHome')}}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
              <a href="{{url_for('RenderLoginPage')}}" class="nav-link">Logout</a>
          </li>
          
      </ul>
  </nav>
  <nav class="dummy"></nav>
        <div class="d-grid gap-2 d-md-block">
          <div class="img1">
            <h5>Shuttlecock</h5><br>
            <img src="/static/images/scock.png" alt="">
            <h4>Rs:{{Pid_name.0.2}}</h4>
            <form action="{{url_for('AddTocart')}}" method="POST">
            <input type="number"  name="quantity" min="1" max="5">
            <input type="hidden" name="pid" value="{{Pid_name.0.0}}">
          <br><br>
          <input class="btn btn-primary" type="submit" value="Add to cart"> 
          </form>
          </div>
          <div class="img2">
            <h5>Racket</h5><br>
            <img src="/static/images/rckt.png" alt="">
            <h4>Rs:{{Pid_name.1.2}}</h4>
            <form action="{{url_for('AddTocart')}}" method="POST">
            <input type="number"  name="quantity" min="1" max="5">
            <input type="hidden" name="pid" value="{{Pid_name.1.0}}">
         
          <br><br>
          <input class="btn btn-primary" type="submit" value="Add to cart"> 
          </form>
          </div>   
        </div>
      

</body>
</html>