<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart items </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <style>
        .btn1 {
            display: inline-block;
            position: absolute;
            left: 1300px;
            top: 20px;
        }

        td {
            border: 1px solid;
        }

        th {
            border: 1px solid;
        }

        body {
            background-color: #FFD4D4;
        }

        .dummy {
            margin-top: 35px;
        }
    </style>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">CART</a>
        <ul class="navbar-nav ms-auto">
            /
            <li class="nav-item">
                <a href="{{url_for('RenderHome')}}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('RenderLoginPage')}}" class="nav-link">Logout</a>
            </li>

        </ul>
    </nav>
    <div class="dummy"></div>
    
    <!-- <div class="btn1"><a href="{{url_for('RenderHome')}}"><button>Go home</button></a></div> -->
    <table style="width: 700px; margin-left: auto; margin-right: auto;" class="table table-striped">
        {% if cartitems %}
        <thead>
            <tr>
                <th>Sl.No.</th>
                <th> PRODUCT id</th>
                <th> PRODUCT NAME </th>
                <th> QUANTITY </th>
                <th> COST </th>
                

            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% set c = namespace(items=1) %}
            {% for i in cartitems %}
            <form action="{{url_for('cart_rem')}}" method="POST">
                <tr>
                    <td>{{c.items}}</td>
                    <td>{{i[0]}}</td>
                    <td style="text-align: left;">{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td> <input style="width: 80px;text-align: center;" type="hidden" title="cartid" name = "carti_id" value="{{i[4]}}"/></td> -->
                    <td> <button style="width: 80px;" class="btn btn-primary" type="submit">Delete</button> </td>
                    <input type="hidden" name="userUSN" value="{{i[0]}}">
                    <input type="hidden" name="usermks" value="{{c.items}}"> 
                </tr>
                {% set c.items = c.items + 1 %}
            </form>
            {% endfor %}
        </tbody>
    </table>
    <h4>TOTAL={{total}}</h4>
</body>

</html>