<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
</head>
<body>
  
    <h1>Delete Product</h1>
  <form action="{{url_for('deleteProduct')}}" method="POST">
    <div class="d-grid gap-2 d-md-block">
      <p>product id</p>
      <input type="text" name="prod_id" id="prdct" placeholder="Enter id">
      <input class="btn btn-primary" type="submit" value="Submit">    
    </div>
  </form>
 
</body>
</html>